@model List<Menu>

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link href="img/favicon.ico" rel="icon">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lato:wght@700&family=Luckiest+Guy&family=Monoton&family=Permanent+Marker&family=Shrikhand&display=swap" rel="stylesheet">
<section id="hero" class="container-fluid d-flex flex-column justify-content-end align-items-center ">
    <div id="heroCarousel" data-bs-interval="5000" class="container-fluid  carousel carousel-fade" data-bs-ride="carousel" >

        <!-- Slide 1 -->
        <div class="carousel-item">
            <div class="carousel-container ">
                <img src="/MenuImages/double-whopper-menu-2.png" />
                <div>
                    <h2 class="animate__animated animate__fadeInDown"><span>Cheesy BBQ</span></h2>
                    <h3 id="stylesFamily" class="animate__animated animate__fadeInUp mb-0">THE BURGER</h3>
                    <h3 class="animate__animated animate__fadeInDown">FROM ANOTHER</h3>
                    <h3 class="animate__animated animate__fadeInDown">PLANET!</h3>
                    <a asp-controller="Product" asp-action="Index" class="btn-get-started animate__animated animate__fadeInUp scrollto">Order Now</a>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <img src="/MenuImages/double-whopper-menu-22.png" />
                <div>
                    <h2 class="animate__animated animate__fadeInDown">TODAY'S </h2>
                    <h1 class="animate__animated animate__fadeInDown text-white">Special</h1>
                    <h2 class="animate__animated animate__fadeInDown">MENU </h2>
                    <h3 id="stylesFamily" class="animate__animated animate__fadeInDown">Smokey Deluxe</h3>
                    <a asp-controller="Product" asp-action="Index" class="btn-get-started animate__animated animate__fadeInUp scrollto">Order Now</a>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <img  src="/MenuImages/big-king-menu2.png" />
                <div>
                    <h2 id="permanentFamily" class="animate__animated animate__fadeInDown">LIFE IS BETTER</h2>
                    <h4 id="robotoFamily" class="animate__animated animate__fadeInUp" style="font-size:40px; color:white">AROUND THE</h4>
                    <h3 id="stylesFamily" style="color:white">campfire</h3>
                    <a asp-controller="Product" asp-action="Index" class="btn-get-started animate__animated animate__fadeInUp scrollto">Order Now</a>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev " href="#heroCarousel" role="button" data-bs-slide="prev">
            <span aria-hidden="true"><i class="fa-solid fa-chevron-left" style="font-size:24px"></i></span>
        </a>

        <a class="carousel-control-next " href="#heroCarousel" role="button" data-bs-slide="next">
            <span aria-hidden="true"><i class="fa-solid fa-chevron-right" style="font-size:24px"></i></span>
        </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </use>
        </g>
    </svg>

</section>

<br />
<br />
<div class="container-fluid bg-light my-6 py-6 pt-0 ">
    <div class="row g-4 ">
       
        @foreach (Menu menu in Model)
            {
            @if (menu != null)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp text-center " data-wow-delay="0.1s">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                        <div class="text-center p-4">
                            <div class="d-inline-block border border-warning rounded-pill px-3 mb-3">$@menu.MenuPrice</div>
                            <h3 class="mb-3">@menu.MenuName</h3>
                            <span>@menu.MenuDeclaration</span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="MenuImages/@menu.MenuCoverImage" alt="@menu.MenuName">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" asp-controller="Product" asp-action="Index"><i class="fa fa-eye text-warning"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>
<script src="~/js/home.js"></script>
<script src="~/js/home.js" asp-append-version="true"></script>
