<link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
<section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row position-relative">

            <div class="col-lg-7 about-img">
                <img src="https://i.hizliresim.com/9peq7f3.png" alt="Resim Açıklaması">
            </div>


        <div class="col-lg-7">
            <h2></h2>
                   
                
            <div class="our-story">
                    <img width="100%"  src="https://i.hizliresim.com/mu67wnk.jpg" alt="BurgerimSende" />
                 
                <h4>Est 2023</h4>
                <h3>Our Story</h3>
                <p>
                    "Hello everyone and welcome to a delicious burger journey! We are three burger enthusiasts and we have designed this site specifically for fellow burger lovers like you. We are called Burger Fanatics, and our passion is not just an ordinary food, but a way of life!"
                </p>
                <p>
                    Our love for burgers has combined with our desire to explore various flavors, and that's why we decided to embark on this journey. We are in pursuit of mouthwatering burgers with crispy buns and perfectly cooked patties. What sets us apart from other burger joints is our creativity and sense of fun!
                </p>
                <p>
                    Here, we will share our unique and creative burger recipes exclusively for you, keep our delicious sauces a secret, and stay up-to-date with the latest burger trends. By joining us on this journey, you will experience a mouthwatering adventure filled with tantalizing visuals and surprises.
                </p>
                <p>
                    We won't just limit ourselves to burgers; we will also share our stories and experiences, adding color to this journey. Because for us, this is not just about cooking, it's an opportunity to bring people together and create enjoyable memories.
                </p>
                <p>
                    As Burger Fanatics, our mission is to bring you happiness with every bite. We guarantee that there is love and care in each of our burgers. By joining us on this journey, you will delight your taste buds and fill your stomach with joy. If you're a burger enthusiast, we invite you to join us on this flavorful adventure!
                </p>
                <p>
                    So don't wait, step into the world of our delicious burgers and join us. We eagerly await your participation in the magnificent flavors we have prepared for you, as we share the love for burgers together!"
                </p>
            </div>
        </div>

        </div>

      </div>
    </section>

    <br /><br />

<section id="team" class="team">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Team</h2>
            <p></p>
        </div>

        <div class="row gy-5">

            <div class="col-lg-4 col-md-6 member aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                    <img src="https://i.hizliresim.com/7f7q8m7.png" class="img-fluid" alt="">
                    <div class="social">
                        <a href="https://www.linkedin.com/in/eneskurt/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/Enes-Kurt" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://twitter.com/home?lang=tr" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="member-info text-center">
                    <h4>Enes Kurt</h4>
                    <span>Full Stack Developer</span>
                    <p></p>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-4 col-md-6 member aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                    <img src="https://i.hizliresim.com/f5twvsi.jpg" class="img-fluid" alt="">
                    <div class="social">
                        <a href="https://www.linkedin.com/in/b%C3%BC%C5%9Fra-%C3%B6nder-223bb5159/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/bsrndr" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://twitter.com/home?lang=tr" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="member-info text-center">
                    <h4>Büşra Önder</h4>
                    <span>Full Stack Developer</span>
                    <p></p>
                </div>
            </div><!-- End Team Member -->
            
            <div class="col-lg-4 col-md-6 member aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                    @*<img src="https://i.hizliresim.com/b6jumo6.jpg" class="img-fluid" alt="">*@
                    <img src="https://i.hizliresim.com/s3ikdua.jpg" class="img-fluid" alt="">
                    <div class="social">
                        <a href="https://www.linkedin.com/in/huseyintugrulakkaya/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/HTAKKAYA" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://twitter.com/home?lang=tr" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="member-info text-center">
                    <h4>Hüseyin Tuğrul Akkaya</h4>
                    <span>Full Stack Developer</span>
                    <p></p>
                </div>
            </div><!-- End Team Member -->


        </div>

    </div>
</section>

<script src="~/js/AboutUs.js" asp-append-version="true"></script>