@model AppUser
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 pb-5">
            <!-- Account Sidebar-->
            <div class="author-card pb-3">
                <div class="author-card-cover" style="background-image: url(https://i.hizliresim.com/j7rda16.jpg)"><a class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward points to spend"><i class="bi bi-star-fill"></i></a></div>
                <div class="author-card-profile">
                    <div class="author-card-avatar">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Daniel Adams">
                    </div>
                    <div class="author-card-details">
                        <h5 class="author-card-name text-lg">@Model.FirstName @Model.LastName</h5><span class="author-card-position">@Model.CreationDate.ToShortDateString()</span>
                    </div>
                </div>
            </div>
            <div class="wizard">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item" asp-action="MyProfile" asp-controller="Profile">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fe-icon-heart mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Order List</div>
                            </div><span class="badge badge-secondary">3</span>
                        </div>
                    </a>
                    <a class="list-group-item" onclick="ProfileSettingsFunc()">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Profile Settings</div>
                            </div><span class="badge badge-secondary">6</span>
                        </div>
                    </a>
                    <a class="list-group-item" onclick="ChangePasswordFunc()">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fe-icon-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Change Password</div>
                            </div><span class="badge badge-secondary">4</span>
                        </div>
                    </a>
                    <a class="list-group-item" onclick="AddressesFunc()">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fe-icon-heart mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Addresses</div>
                            </div><span class="badge badge-secondary">3</span>
                        </div>
                    </a>

                </nav>
            </div>
        </div>
        <!-- Profile Settings-->
        <div asp-validation-summary="ModelOnly"></div>
        <div class="col-lg-8 pb-5" >
            <form class="row" method="post">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="account-fn">Current Password</label>
                        <input class="form-control" type="password" id="password" required="">

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="account-ln">New Password</label>
                        <input class="form-control" type="password" id="updateNewPassword" required="">

                    </div>
                </div>
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <button class="btn btn-style-1 btn-warning" type="button" onclick="UpdateChangePassword()">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


