@using MVCFoodShop.Entities;
@model AppUser
<div id="myProfile">

    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="row">
            <div class="col-lg-4 pb-5">
                <!-- Account Sidebar-->
                <div class="author-card pb-3">
                    <div class="author-card-cover" style="background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);"><a class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward points to spend"><i class="fa fa-award text-md"></i>&nbsp;290 points</a></div>
                    <div class="author-card-profile">
                        <div class="author-card-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Daniel Adams">
                        </div>
                        <div class="author-card-details">
                            <h5 class="author-card-name text-lg">@Model.FirstName @Model.LastName</h5><span class="author-card-position">@Model.CreationDate</span>
                        </div>
                    </div>
                </div>
                <div class="wizard">
                    <nav class="list-group list-group-flush">
                        <a class="list-group-item" onclick="MyProfileFunc()">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="fe-icon-heart mr-1 text-muted"></i>
                                    <div class="d-inline-block font-weight-medium text-uppercase">Order List</div>
                                </div><span class="badge badge-secondary">3</span>
                            </div>
                        </a>
                        <a class="list-group-item btn btn-light" onclick="ProfileSettingsFunc()">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                                    <div class="d-inline-block font-weight-medium text-uppercase">Profile Settings</div>
                                </div><span class="badge badge-secondary">6</span>
                            </div>
                        </a>
                        <a class="list-group-item" onclick="ChangePasswordFunc()">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="fe-icon-tag mr-1 text-muted"></i>
                                    <div class="d-inline-block font-weight-medium text-uppercase">Change Password</div>
                                </div><span class="badge badge-secondary">4</span>
                            </div>
                        </a>
                        <a class="list-group-item" onclick="AddressesFunc()">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class="fe-icon-heart mr-1 text-muted"></i>
                                    <div class="d-inline-block font-weight-medium text-uppercase">Addresses</div>
                                </div><span class="badge badge-secondary">3</span>
                            </div>
                        </a>

                    </nav>
                </div>
            </div>
            <!-- Wishlist-->
            <div class="col-lg-8 pb-5">
                <div><h4 class="text-center">My Past Orders</h4></div>
                <!-- Item-->
                <div class="cart-item d-md-flex justify-content-between">
                    <span class="remove-item"><i class="fa fa-times"></i></span>
                    <div class="px-3 my-3">
                        <a class="cart-item-product" href="#">
                            <div class="cart-item-product-thumb"><img src="https://i.hizliresim.com/m20yfy8.png" alt="Product"></div>
                            <div class="cart-item-product-info">
                                <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4>
                                <div class="text-lg text-body font-weight-medium pb-1">$910.00</div><span>Order Date: <span class="text-success font-weight-medium">In Stock</span></span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Item-->
                <div class="cart-item d-md-flex justify-content-between">
                    <span class="remove-item"><i class="fa fa-times"></i></span>
                    <div class="px-3 my-3">
                        <a class="cart-item-product" href="#">
                            <div class="cart-item-product-thumb"><img src="https://i.hizliresim.com/m20yfy8.png" alt="Product"></div>
                            <div class="cart-item-product-info">
                                <h4 class="cart-item-product-title">Apple iPhone X 256 GB Space Gray</h4>
                                <div class="text-lg text-body font-weight-medium pb-1">$1,450.00</div><span>Order Date: <span class="text-warning font-weight-medium">2 - 3 Weeks</span></span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Item-->
                <div class="cart-item d-md-flex justify-content-between">
                    <span class="remove-item"><i class="fa fa-times"></i></span>
                    <div class="px-3 my-3">
                        <a class="cart-item-product" href="#">
                            <div class="cart-item-product-thumb"><img src="https://i.hizliresim.com/m20yfy8.png" alt="Product"></div>
                            <div class="cart-item-product-info">
                                <h4 class="cart-item-product-title">HP LaserJet Pro Laser Printer</h4>
                                <div class="text-lg text-body font-weight-medium pb-1">$188.50</div><span>Order Date: <span class="text-success font-weight-medium">In Stock</span></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" checked="" id="inform-me">
                    <label class="custom-control-label" for="inform-me">Notify me when I have items in my cart</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="profileSettings"></div>
<div id="changePassword"></div>
<div id="addresses"></div>