

body,
html {
    background-color: #EBECF0;
}

.login-section div,
.login-section p {
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
}

div div section form {
    padding: 16px;
    width: 320px;
    margin: 0 auto;
}

.segment {
    padding: 10px 0;
    text-align: center;

}

    .segment h1 {
        color: orange;
    }

div div section form button,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

div div section form label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

section input {
    margin-right: 10px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

    input:focus {
        box-shadow: inset 1px 1px 2px orange, inset -1px -1px 2px #FFF;
    }

div div section form button {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

    button:hover {
        box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
    }

    button:active {
        box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    }

    button .icon {
        margin-right: 8px;
    }

    button.unit {
        border-radius: 8px;
        line-height: 0;
        width: 48px;
        height: 48px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
        font-size: 19.2px;
    }

        button.unit .icon {
            margin-right: 0;
        }

button.red {
    display: block;
    width: 100%;
    background-color: orange;
    color: #FFF;
    text-shadow: none;
    /*color: orange;*/
}

    button.red:hover {
        /*background-color: orange;
            color: #FFF;
            text-shadow: none;*/
        background: #ffd54f
    }



.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

    .input-group label {
        margin: 0;
        flex: 1;
    }

.form-check-input:checked {
    background-color: orange;
    border-color: orange;
    box-shadow: 0 0 0 1px orange, 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
}

.rowr{
    display:flex;
    align-content:center;
    justify-content:flex-end;
}

