ul ul {
    list-style-type: none;
}
.inner-header .nav-right li.cart-icon {
    position: relative;
}

    .inner-header .nav-right li.cart-icon:hover .cart-hover {
        opacity: 1;
        visibility: visible;
        top: 60px;
    }

    .inner-header .nav-right li.cart-icon a {
        color: #252525;
        position: relative;
        display: inline-block;
    }

        .inner-header .nav-right li.cart-icon a span {
            position: absolute;
            right: -8px;
            top: -1px;
            height: 15px;
            width: 15px;
            background: #e7ab3c;
            color: #ffffff;
            border-radius: 50%;
            font-size: 11px;
            font-weight: 700;
            text-align: center;
            line-height: 15px;
        }

    .inner-header .nav-right li.cart-icon .cart-hover {
        position: absolute;
        right: -70px;
        top: 100px;
        width: 350px;
        background: #ffffff;
        z-index: 99;
        text-align: left;
        padding: 30px;
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
        box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

        .inner-header .nav-right li.cart-icon .cart-hover .select-items table {
            width: 100%;
        }

            .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td {
                padding-bottom: 20px;
            }

                .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-pic img {
                    border: 1px solid #ebebeb;
                }

                .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text {
                    padding-left: 18px;
                }

                    .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text .product-selected p {
                        color: #e7ab3c;
                        line-height: 30px;
                        margin-bottom: 7px;
                    }

                    .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-text .product-selected h6 {
                        color: #232530;
                    }

                .inner-header .nav-right li.cart-icon .cart-hover .select-items table tr td.si-close {
                    color: #252525;
                    font-size: 16px;
                    cursor: pointer;
                }

        .inner-header .nav-right li.cart-icon .cart-hover .select-total {
            overflow: hidden;
            border-top: 1px solid #e5e5e5;
            padding-top: 26px;
            margin-bottom: 30px;
        }

            .inner-header .nav-right li.cart-icon .cart-hover .select-total span {
                font-size: 14px;
                color: #e7ab3c;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                float: left;
            }

            .inner-header .nav-right li.cart-icon .cart-hover .select-total h5 {
                color: #e7ab3c;
                float: right;
            }

        .inner-header .nav-right li.cart-icon .cart-hover .select-button .view-card {
            font-size: 12px;
            letter-spacing: 2px;
            display: block;
            text-align: center;
            background: #191919;
            color: #ffffff;
            padding: 15px 30px 12px;
            margin-bottom: 10px;
        }

        .inner-header .nav-right li.cart-icon .cart-hover .select-button .checkout-btn {
            font-size: 12px;
            letter-spacing: 2px;
            display: block;
            text-align: center;
            color: #ffffff;
            padding: 15px 30px 12px;
        }

    .inner-header .nav-right li.cart-icon .cart-price {
        font-size: 18px;
        font-weight: 700;
        color: #252525;
    }
