html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 230px;
}

.open {
    background-color: #FFC107; /* Arka plan rengini burada belirleyin */
    color: #FFFFFF; /* Yazý rengini burada belirleyin */
    border-radius: 20px;
    font-weight: bold
}

.navbar-nav .nav-link:hover:not(.open) {
    background-color: #fad669; /* Ýçinde bulunmadýðýnýz sayfalarýn arka plan rengi */
    color: #FFFFFF; /* Ýçinde bulunmadýðýnýz sayfalarýn yazý rengi */
    border-radius: 20px;
}
